<h1>Task Manager</h1>
<hr>
<h3>Create New</h3>
<form method="post">
	<div class="field">
		<label for="">Name :</label>
		<input type="text" name="txtTaskName" id=""></div>
	<div class="field">
		<label for="">Description :</label>
		<textarea name="txtTaskDesc" id="" cols="30" rows="10"></textarea></div>
	<div class="field">
		<input type="submit" value="Create">
		<input type="reset" value="Reset">
	</div>
</form>